{{#each this}}
<div class="card my-2 mx-4">
  <section class="card-body">
    <div class="text-secondary">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="card-text">
      {{comment_text}}
    </div>
  </section>
</div>
{{/each}}