<section class="w-25 mx-auto">
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label class="form-label" for="post-title">Title</label>
      <input class="form-control" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label class="form-label" for="post-text">Text</label>
      <input class="form-control" id="post-text" name="post-text" />
    </div>
    <button type="submit" class="btn border my-2">Create</button>
  </form>
</section>

{{#if posts.length}}
<section class="w-75 mx-auto">
  <h2>Your Posts</h2>
  <ol class="list-group">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>