{{> post-info post}}

{{#if loggedIn}}
<form class="my-2 mx-4 comment-form">
  <div>
    <textarea class="form-control" name="comment-body"></textarea>
  </div>

  <div class="my-2">
    <button type="submit" class="btn btn-outline-dark">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}